<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Aleo:400&display=swap"
      rel="stylesheet"
    /> 
    <style>
      body {
        margin: 0;
        font-family: "Aleo", serif;
      }
    </style>
  </head>
	<body class="antialiased">